<html>
  <head>
    <title><%= election.name %> Result | Online Voting Platform</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style>
      .fff{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
         margin-top: 1rem;
         text-align: center;
         margin: auto;
      }
      .f2{
         display: flex;
         width: 95%;
         justify-content: space-between;
         align-items: center;
         margin-top: 1rem;
      }
      .f3{
         display: flex;
      }
      .btn-primary:hover{
         background-color: black;
      }
      .btn-danger:hover{
         background-color: black;
      }
      body{
        background: linear-gradient(#ffd900, #00ffee);
      }
      
   </style>
  </head>
  <body >
    
    <div class="flex flex-col justify-center items-center text-blue-800">
      <% if (Admin == true) { %>
        <div class="fff">
          <div style="text-align: center;" >
             
                <h1 class="h1">
                   WD Voting Platform
                </h1>
             
          </div>
          <div class="f2">
                      <div class="f3">
                      <p style="font-weight: bold;">Hi <%= username %></p></div>
                  
                   
                      <div><a style="margin-right: 1rem;" class="btn btn-primary" href="/index">Home</a>
                      <a class="btn btn-danger" href="/signout">Sign Out</a></div>
                  
           </div>
            
       </div>
       
      <% } else { %>
        <header>
          <h1 class="h1 my-2 text-dark">WD Voting Platform</h1>
        </header>
        
      <% } %>

      <% if (!Admin) { %>
        <div class="flex gap-2 items-center text-black text-xl">
          <i class="fa fa-user"></i> <b><%= username %>'s</b> election
        </div>
      <% } %>

    </div>
    <div class="flex flex-col justify-center items-center p-4">
      <div class="flex flex-col justify-center md:w-2/5 w-full">
        <hr />
        <div class="pt-6">
          <% if (Admin) { %>
            <a href="/election/<%= election.id %>" class="font-bold text-4xl hover:underline"><%= election.name %>'s Result</a>
          <% } else { %>
            <p class="font-bold text-4xl"><%= election.name %>'s Result</p>
          <% } %>
          <p class="pt-2 text-gray-600 text-xl"><%= votesCast %> / <%= totalVoters %> Votes Casted</p>
        </div>

        <!-- Result -->
        <div class="pt-8">
          <div class="flex flex-col gap-6">
            <% for (var i=0; i<questions.length; i++) { %>
                <div>
                    <p class="font-bold text-xl"><%= i+1 %>. <%= questions[i].title %></p>
                    <p class="text-gray-600"><%= questions[i].description %></p>

                    <div class="pt-6 pl-6 flex  gap-4">
                        <% for (var j=0; j<options[i].length; j++) { %>
                          <div class="flex gap-2"><p class="flex items-center gap-2 text-xl"><%= options[i][j].choice %>:<b class="text-blue-700"><%= data[i][j] %>%</b></p></div>
                        <% } %>
                    </div>
                </div>
            <% } %>
          </div>
          <% if (Admin == true) { %>
            <a href="/election/<%= election.id %>" class="btn btn-primary p-2 my-5 m-auto ">Return to Election</a>
          <% } else { %>
            <a href="/" class="bg-blue-500 hover:bg-blue-700 border-2 border-blue-800 p-2 rounded-lg font-bold text-white flex justify-center mt-8">Home</a>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
